@charset "utf-8";

/*
* Author: chenjianbing
* Time: 2016.07.25
* Copyright: http://www.mei315.com/
*/

/* 
 *CSS Reset Stylesheet
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
	font-family: Microsoft YaHei;
    font-size:12px;
	color: #666;
	background-color: #fff;
}

select {
	font-family: Microsoft YaHei;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	background: url(../images/ico_select_1.png) no-repeat right center;
	cursor: pointer;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

ul,ol {
    list-style:none;
}

a {
    text-decoration: none;
}

input[type="text"] {
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

.clear {
	clear: both;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.content {
	width: 1220px;
	margin: 0 auto;
}

.noBg {
	background-image: none;
}

.red {
	color: #e30113;
	font-family: Microsoft YaHei;
}

.noMar {
	margin-right: 0;
}

.show {
	display: block;
}

.hide {
	display: none;
}

/*滚动条样式*/
::-webkit-scrollbar {width: 6px;height:10px;}
::-webkit-scrollbar-track {background-color: #f9f9f9;}
::-webkit-scrollbar-thumb {background-color: #ccc;border-radius:3px;}
::-webkit-scrollbar-thumb:hover {background-color:#c0c0c0;}
::-webkit-scrollbar-button {background-color: #7c2929;display:none;}
::-webkit-scrollbar-corner {background-color: #fff;}

textarea {
	color: #666;
	font-family: Microsoft YaHei;
	font-size: 14px;
}

/* 
 *CSS common Stylesheet
*/

/***********通用页头1 开始*****************************************************************************************************************/

/* 顶部功能
--------------------------------------------------------------------------------------------*/
.navTop {
	font-family: '宋体';
	height: 23px;
	padding-top: 12px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e3e3e3;
	min-width: 1220px;
}
.navTop a {
	color: #737373;
}
.navTop a:hover {
	text-decoration: underline;
}
.fl,
.fl li,
.fr li {
	float: left;
	display: inline-block;
}
.fl li,
.fr li {
	margin-right: 10px;
	padding-right: 10px;
	background: url(../images/common/line_dashed.png) no-repeat right center;
}
.fl li.locate {
	background-position: right 0;
}
.locate a,
.fr li a {
	color: #c51857;
}
.fr li.hotLine {
	margin-top: -3px;
}
.fr li i {
	color: #c51857;
	font-size: 18px;
	font-family: Microsoft YaHei;
}
.fl li.noBg,
.fr li.noBg {
	background-image: none;
}
.fr li.noBg a {
	color: #737373;
}
.fl li img {
	float: left;
	margin-top: -4px;
}
.fr {
	float: right;
}

/* 搜索栏
--------------------------------------------------------------------------------------------*/
.logoSearch {
	padding: 15px 0 20px;
	position: relative;
	z-index: 3;
}
.imgJi {
	position: absolute;
	top: 0;
	left: -164px;
}
.logo {
	float: left;
    vertical-align: top;
}
.searchBox {
	float: left;
	border: 2px solid #c51857;
	height: 37px;
	line-height: 37px;
    vertical-align: top;
	width: 457px;
	font-size: 14px;
	margin: 10px 0 0 20px;
}
.searchSort {
	cursor: pointer;
	width: 93px;
	text-align: center;
	float: left;
}
.searchSort li {
	position: relative;
	height: 37px;
	line-height: 37px;
}
.searchSort li:hover {
	background-color: #f9f9f9;
}
.searchSort>li {
	background: url(../images/common/ico_arrow_red.png) no-repeat 80px center;
}
.searchSort>li span {
	color: #e5383c;
}
.searchSortTwo {
	position: absolute;
	width: 93px;
	background-color: #f9f9f9;
	display: none;
	border-top: 2px solid #c51857;
	z-index: 9;
	left: 0;
	top: 37px;
}
.searchSortTwo li:hover {
	background-color: #f0f0f0;
}
.searchBox input[type="text"] {
	float: left;
	height: 27px;
	line-height: 27px;
	border: 0;
	outline: none;
	margin-top: 5px;
	text-indent: 10px;
	border-left: 1px solid #e33a3d;
	font-family: Microsoft YaHei;
	width: 300px;
}
.searchBox input[type="button"] {
	background: #c51857 url(../images/common/ico_search.png) no-repeat center center;
	border: 0;
	outline: none;
	width: 60px;
	height: 37px;
	float: right;
	cursor: pointer;
}
.slideBox{ width:224px; height:65px; position:relative;float: right;  }
.slideBox:hover .prev,
.slideBox:hover .next {
	display: block;
}
.slideBox .hd{ height:7px; overflow:hidden; position:absolute; right:5px; top:0; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:5px;  width:7px; height:7px; line-height:14px; text-align:center; background:#cacaca; cursor:pointer;border-radius:50%; }
.slideBox .hd ul li.on{ background:#e30113; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:224px; height:65px; display:block;  }
.slideBox .prev,
.slideBox .next{ position:absolute; left:-14px; top:50%; margin-top:-7px; display:block; width:14px; height:14px; background: url(../images/common/ico_arrow_slider.png) no-repeat 0 0; display: none;}
.slideBox .next{ left:auto; right:-14px; background-position:-14px 0; }
.slideBox .prev:hover{ background-position:-28px 0; }
.slideBox .next:hover{ background-position:-42px 0; }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }

/* 导航栏
--------------------------------------------------------------------------------------------*/
.navMain {
	border-bottom: 3px solid #c51857;
	height: 51px;
	line-height: 51px;
	position: relative;
	z-index: 1;
	min-width: 1220px;
}
.navMainOne {
	font-size: 0;
	float: left;
	height: 53px;
}
.navMainOne li {
	float: left;
	font-size: 16px;
	position: relative;
	background: url(../images/common/ico_arrow_black.png) no-repeat 35px center;
}
.navMainOne li:hover {
	background-color: #c51857;
}
.navMainOne li:hover .navMainTwo {
	display: block;
}
.navMainOne li a {
	display: inline-block;
	padding: 0 35px 0 55px;
	color: #333;
}
.navMainOne li.noBg a {
	padding-left: 35px;
}
.navMainOne li.noBg,
.navMainOne li.noBg:hover,
.navMainOne li.noBg.navMainAactive a {
	background-image: none;
}
.navMainOne li:hover {
	color: #fff;
	background-image: url(../images/common/ico_arrow_white.png);
}
.navMainOne li:hover a {
	color: #fff;
}
.navMainOne li.navMainAactive a {
	color: #fff;
	background: #c51857 url(../images/common/ico_arrow_white.png) no-repeat 45px center;
}
.navMainOne li.navMainAactive .navMainTwo li a {
	color: #333;
	background: #fff;
}
.navMainOne li.navMainAactive .navMainTwo li a:hover {
	color: #fff;
	background: #c51857;
}
.navMainOne li .navMainTwo {
	position: absolute;
	background-color: #fff;
	width: 99%;
	display: none;
	z-index: 9;
	border: 1px solid #c51857;
	top: 50px;
	left: 0;
	border-top: 3px solid #c51857;
}
.navMainOne li .navMainTwo li {
	display: block;
	line-height: 38px;
	height: 38px;
	font-size: 14px;
	background-image: none;
	float: none;
}
.navMainOne li .navMainTwo li a {
	width: 78%;
	padding-left: 22%;
	padding-right: 0;
	color: #333;
	position: relative;
}
.navMainOne li .navMainTwo li a:hover {
	color: #fff;
	background-color: #c51857;
	background-image: none;
}
.phoneBao {
	float: right;
    margin-top: 4px;
	cursor: pointer;
	line-height: 1;
	position: relative;
}
.phoneBao dt,
.phoneBao dd {
	float: left;
}
.phoneBao dd {
    width: 89px;
    height: 29px;
    display: inline-block;
    text-align: center;
    line-height: 29px;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
	margin: 10px 0 0 8px;
	font-family: '宋体';
}
.erweima {
	position: absolute;
	top: 44px;
	right: 0;
	display: none;
	z-index: 9;
}

/***********通用页头1 结束*****************************************************************************************************************/


/***********通用页头2 开始*****************************************************************************************************************/
.navTwo {
	border-bottom: 5px solid #c51857;
	min-width: 1220px;
}
.logoTwo {
	float: left;
	margin-right: 50px;
	height: 56px;
}
.logoTwo img {
	height: 56px;
}
.navPage {
	float: left;
}
.navPageOne {
	position: relative;
	z-index: 999;
}
.navPageOne li {
	float: left;
	height: 56px;
	line-height: 56px;
	font-size: 14px;
	position: relative;
	z-index: 9;
	border-right: 1px solid #dfdfdf;
}
.navPageOne li:last-child {
	border-right: 0;
}
.navPageOne li:hover,
.navPageOne li.navLiAvtive {
	background-color: #c51857;
}
.navPageOne li.navLiAvtive {
	border-right: 1px solid #c51857;
}
.navPageOne li:hover .navPageTwo {
	display: block;
}
.navPageOne li:hover a,
.navPageOne li.navLiAvtive a {
	color: #fff;
}
.navPageOne li a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 30px;
	color: #0e0e0e;
}
.navPageTwo {
	position: absolute;
	display: none;
	background-color: #fff;
	border: 1px solid #c51857;
	border-top: 5px solid #c51857;
	width: 98%;
	z-index: 999;
	top: 56px;
	left: 0;
}
.navPageTwo li {
	float: none;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	border-right: 0;
}
.navPageOne li .navPageTwo li a {
	color: #0e0e0e;
	padding: 0;
	padding-left: 22%;
	width: 78%;
	height: 40px;
	line-height: 40px;
}
.navPageOne li .navPageTwo li a:hover {
	color: #fff;
}
.sloganTwo {
	float: right;
	margin-top: 15px;
	position: relative;
	z-index: 999;
	max-width: 416px;
	line-height: 1.5;
}
.sloganTwo a {
	color: #666;
}
.sloganTwo a:hover {
	color: #c51857;
}

/***********通用页头2 结束*****************************************************************************************************************/


/***********个人中心页头 开始*****************************************************************************************************************/
.userNav,
.userNavTwo {
	height: 70px;
	padding-top: 15px;
	border-bottom: 2px solid #eaeaea;
	min-width: 1220px;
}
.userNavTwo {
	border-bottom: 4px solid #c51857;
}
.userModule {
	float: left;
	border-left: 1px solid #666;
	height: 40px;
	line-height: 40px;
	margin: 15px 0 0 15px;
}
.userModule i {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/user/ico_user.png) no-repeat 0px 0px;
	float: left;
	margin: 4px 5px 0 15px;
}
.userModule span {
	font-size: 24px;
	color: #000;
}
.operate,
.operateTwo {
	float: right;
	font-size: 14px;
	margin-top: 25px;
}
.operateTwo {
	margin-top: 10px;
	width: 220px;
}
.operate a {
	color: #666;
	display: inline-block;
	border-right: 1px solid #666;
	padding: 0 15px;
}
.operate a:hover {
	color: #c51857;
}
.operateTwo a {
	display: inline-block;
	width: 100px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #e0e0e0;
	color: #666;
	text-align: center;
	float: left;
}
.operateTwo a:hover {
	background-color: #c51857;
	border-color: #c51857;
	color: #fff;
}
.operSelect,
.operSelectTwo {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 15px;
	color: #000;
}
.operSelectTwo {
	width: 100px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #e0e0e0;
	color: #000;
	position: relative;
	text-indent: 10px;
	float: right;
}
.operSelect i,
.operSelectTwo i {
	display: inline-block;
	width: 9px;
	height: 4px;
	background: url(../images/common/ico_arrow_black.png) no-repeat center center;
	vertical-align: middle;
	margin-left: 5px;
}
.operSelectTwo i {
	width: 25px;
	height: 34px;
	background-color: #fafafa;
	border-left: 1px solid #e2e2e2;
	position: absolute;
	top: 0;
	right: 0;
}
.operSelectTwo:hover i {
	background-color: #f0f0f0;
}
.operSelect li,
.operSelectTwo li {
	position: relative;
	cursor: pointer;
}
.operSelect ul,
.operSelectTwo ul {
	display: none;
	position: absolute;
	z-index: 999;
	right: 0;
	top: 14px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	width: 115px;
}
.operSelectTwo ul {
	top: 34px;
	right: -1px;
	width: 100%;
}
.operSelect ul li,
.operSelectTwo ul li {
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.operSelectTwo ul li {
	text-align: left;
}
.operSelect ul li:hover,
.operSelectTwo ul li:hover {
	background-color: #f5f5f5;
}
.operSelect li:hover ul,
.operSelectTwo li:hover ul {
	display: block;
}
.operSelect ul li a,
.operSelectTwo ul li a {
	border: 0;
}
#headerUsername {
	display: inline-block;
	width: 85px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}
/***********个人中心页头 结束*****************************************************************************************************************/


/***********通用页脚1 开始*****************************************************************************************************************/

/* footerSup
--------------------------------------------------------------------------------------------*/
.footerSup {
	padding: 30px 0 24px;
	background-color: #fcfcfc;
	line-height: 2;
	border-top: 1px solid #e9e9e9;
	min-width: 1220px;
}
.footerSup a {
	color: #666;
}
.footerSup a:hover {
	color: #c51857;
}
.linkFriend {
	float: left;
	width: 68%;
	padding-right: 2%;
}
.linkFriend dt {
	font-size: 16px;
	color: #000;
	border-bottom: 1px solid #dedede;
	margin-bottom: 10px;
	font-size: 0;
}
.redSliderBox {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
}
.redSliderBox b {
	font-weight: 400;
	display: inline-block;
	font-size: 14px;
	width: 80px;
	text-align: center;
	cursor: pointer;
}
.redSlider {
	display: inline-block;
	width: 80px;
	height: 2px;
	background-color: #c51857;
	position: absolute;
	left: 0;
	bottom: -1px;
    transition: all .3s ease 0s;
}
.linkFriend dt span a {
	display: inline-block;
	float: right;
	font-size: 12px;
	margin-top: 8px;
	padding-right: 16px;
	background: url(../images/common/ico_add.png) no-repeat right center;
	color: #000;
}
.linkFriend dd div {
	display: none;
}
.linkFriend dd a {
	display: inline-block;
	margin-right: 20px;
}
.logoFooter {
	float: left;
	width: 15%;
	text-align: center;
	border-right: 1px solid #dedede;
	border-left: 1px solid #dedede;
	padding: 20px 0;
}
.weixin {
	float: left;
	width: 14%;
	text-align: center;
	color: #0b0b0b;
	font-size: 14px;
	line-height: 3;
}
.weixin img {
	width: 111px;
	height: 111px;
}

/* footerSub
--------------------------------------------------------------------------------------------*/
.footerSub {
	border-top: 4px solid #e7282f;
	background-color: #171717;
	padding: 15px 0;
	line-height: 2.5;
	min-width: 1220px;
}
.footerSub .content {
	color: #fff;
}
.footerSub .content dl {
	float: left;
	padding: 0 60px;
	border-right: 1px solid #333;
	height: 170px;
}
.footerSub .content dt {
	font-size: 14px;
	margin-bottom: 15px;
}
.footerSub .content dd a {
	color: #fff;
}
.footerSub .content dd a:hover {
	color: #c51857;
}
.footerSub .content dl.attention {
	border: 0;
}
.footerSub .content dl.attention dt {
	margin-bottom: 0;
}
.attention a {
	display: inline-block;
}
.attention i {
	display: inline-block;
	width: 22px;
	height: 22px;
	float: left;
	margin: 5px 8px 0 0;
	background: url(../images/common/ico_socially.png) no-repeat 0 0;
}
.attention i.tencent {
	background-position: -22px 0;
}
.attention i.qq {
	background-position: -44px 0;
}
.attention i.weixin {
	background-position: -66px 0;
}
.ntwHotLine {
	float: right;
	text-align: center;
	line-height: 1;
}
.ntwHotLine h2 {
	font-size: 30px;
	font-weight: normal;
	margin: 20px 0 15px 0;
}
.ntwHotLine p {
	font-size: 16px;
	color: #c7c7c7;
}
.ntwHotLine p span {
	font-size: 18px;
	color: #fff;
	display: inline-block;
	background-color: #c51857;
	padding: 0 30px;
	margin-top: 15px;
	line-height: 2;
}
.copyright {
}
.footer {
	border-top: 1px solid #333;
	margin-top: 10px;
	text-align: center;
	color: #acacac;
	line-height: 2;
	padding: 15px 0 5px;
}
.fLink a {
	color: #acacac;
}
.fLink a:hover {
	color: #fff;
}
.commit {
	margin-top: 10px;
}

/***********通用页脚1 结束*****************************************************************************************************************/





/***********通用页脚2 开始*****************************************************************************************************************/
.footerTwo {
	background-color: #f9f9f9;
	border-top: 4px solid #c60f4f;
	padding: 35px 0;
	min-width: 1220px;
}
.footerTwo dl {
	border-right: 1px solid #e0e0e0;
	height: 134px;
}
.comInfo {
	float: left;
	width: 750px;
}
.comInfo:hover dt img {
	width: 190px;
	height: 80px;
	margin: 0;
	transition: all .8s ease 0s;
}
.comInfo dt {
	float: left;
	width: 190px;
	height: 80px;
	padding: 10px;
	overflow: hidden;
	border: 1px solid #e0e0e0;
	margin-right: 15px;
}
.comInfo dt img {
	width: 190px;
	height: 80px;
	transition: all .8s ease 0s;
}
.comInfo dd {
	color: #000;
	margin-left: 198px;
	font-size: 14px;
	line-height: 1.7;
}
.comInfo dd h2 {
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 15px;
}
.socially {
	float: left;
	width: 250px;
}
.socially dt {
	color: #000;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 8px;
}
.socially dd {
	color: #000;
	font-size: 14px;
	padding-left: 60px;
}
.socially dd a {
	display: inline-block;
	line-height: 1.8;
	color: #000;
}
.socially dd a:hover {
	text-decoration: underline;
}
.socially dd span {
	display: inline-block;
    width: 22px;
    height: 22px;
	margin-right: 8px;
    background: url(../images/common/ico_socially.png) no-repeat;
	vertical-align: middle;
}
.socially dd span.ico_sina {
	background-position: -88px 0;
}
.socially dd span.ico_tencent {
	background-position: -110px 0;
}
.socially dd span.ico_qq {
	background-position: -132px 0;
}
.socially dd span.ico_weixin {
	background-position: -154px 0;
}
.phoneNur {
	float: left;
	width: 270px;
	text-align: center;
}
.phoneNur dt {
	font-size: 28px;
	font-weight: 400;
	color: #000;
	margin-bottom: 15px;
}
.phoneNur dd h3 {
	font-size: 16px;
	font-weight: 400;
	color: #666;
	margin-bottom: 15px;
}
.phoneNur dd p {
	width: 170px;
	height: 38px;
	line-height: 38px;
	background-color: #c60f4f;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	display: inline-block;
}
.conWei {
	float: right;
	color: #666;
	font-size: 12px;
	text-align: center;
	line-height: 1.8;
}
.conWei img {
	width: 100px;
	height: 100px;
}
.footerCopy {
	height: 42px;
	line-height: 42px;
	background-color: #000;
	color: #fff;
	text-align: center;
	min-width: 1220px;
}
.footerCopy span {
	display: inline-block;
	margin: 0 10px;
}





/***********通用页脚2 结束*****************************************************************************************************************/




/***********个人中心页脚 开始*****************************************************************************************************************/
.userFooter,
.userFooterTwo {
	font-size: 14px;
	color: #666;
	text-align: center;
	padding: 18px 0 25px;
	min-width: 1220px;
}
.userFooterTwo {
	background-color: #fdfdfd;
	border-top: 2px solid #c51857;
}
.userFooter p,
.userFooterTwo p {
	margin-top: 18px;
}
.webMap {
	padding-bottom: 18px;
	border-bottom: 1px solid #dedede;
}
.userFooter p.webMap,
.userFooterTwo p.webMap {
	margin-top: 0;
}
.webMap a {
	color: #666;
	display: inline-block;
	border-right: 1px solid #bdbdbd;
	padding: 0 10px;
}
.webMap a:last-child {
	border-right: 0;
}
.webMap a:hover {
	color: #c51857;
}
.userCopyright {
	color: #999;
	font-size: 12px;
}



/***********个人中心页脚 结束*****************************************************************************************************************/







/***********通用组件 开始*****************************************************************************************************************/

/* 首页栏目标题
--------------------------------------------------------------------------------------------*/
.inSecTitle {
	padding-bottom: 40px;
	text-align: center;
	line-height: 1.5;
}
.inSecTitle h2 {
	color: #0e0e0e;
	font-size: 38px;
	font-weight: 400;
	border-bottom: 1px solid #cfcfcf;
}
.inSecTitle h2 span {
	display: inline-block;
	border-bottom: 2px solid #d4161c;
	min-width: 230px;
}
.inSecTitle p {
	color: #666;
	font-size: 14px;
	line-height: 3;
}
.inSecTitle p a {
	color: #666;
}
.inSecTitle p a:hover {
	text-decoration: underline;
}

/* 子页栏目标题
--------------------------------------------------------------------------------------------*/
.pageSecTitle,
.decComTitle {
	border-bottom: 1px solid #cfcfcf;
	line-height: 2;
	margin-bottom: 40px;
	font-size: 14px;
	height: 66px;
}
.decComTitle {
	height: 50px;
}
.pageSecTitle span,
.decComTitle span {
	color: #0e0e0e;
    font-size: 32px;
    font-weight: 400;
    border-bottom: 2px solid #d4161c;
	float: left;
	margin-right: 10px;
}
.decComTitle span {
	font-size: 24px;
}
.pageSecTitle i,
.decComTitle i {
	float: left;
	font-style: normal;
	margin-top: 27px;
}
.decComTitle i {
	margin-top: 20px;
}
.pageSecTitle i a,
.decComTitle i a {
	float: none;
	margin-top: 0;
	color: #666;
	display: inline-block;
	margin-right: 15px;
}
.pageSecTitle a,
.decComTitle a {
	float: right;
	margin-top: 38px;
	color: #666;
}
.decComTitle a {
	font-size: 12px;
	margin-top: 25px;
}
.pageSecTitle a:hover,
.decComTitle a:hover {
	color: #c51857;
}
.ico_add {
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url(../images/common/ico_add.png) no-repeat right center;
	margin-left: 5px;
	vertical-align: middle;
}

/* 文宣页栏目标题
--------------------------------------------------------------------------------------------*/
.proTitle,
.rpTitle {
	padding: 100px 0 60px;
	text-align: center;
}
.proTitle h2,
.rpTitle h2 {
	font-size: 38px;
	font-weight: 400;
	color: #0e0e0e;
}
.rpTitle h2 {
	font-size: 50px;
	color: #000;
}
.proTitle h2 span.green {
	font-size: 60px;
	color: #24c5b3;
	display: inline-block;
	margin-right: 10px;
	font-family: '宋体';
	font-weight: bold;
	vertical-align: middle;
}
.proTitle h2 span.blue {
	color: #0067ac;
}
.proTitle p,
.rpTitle p {
	font-size: 14px;
	color: #666;
	margin-top: 30px;
}
.rpTitle p {
	color: #000;
}
.proTitle p.proTitleP {
	font-size: 24px;
	color: #0e0e0e;
	margin-top: 20px;
}





/* 查看更多 按钮样式
--------------------------------------------------------------------------------------------*/
.btnMore {
	text-align: center;
}
.btnMore a {
	display: inline-block;
	color: #666;
	border: 1px solid #666;
	line-height: 30px;
	height: 30px;
	width: 140px;
	position: relative;
	font-size: 14px;
}
.btnMore a:hover {
	color: #c51857;
	border-color: #c51857;
}
/*
.btnMore a span,
.btnMoreTwo a span {
	position: absolute;
	width: 100%;
	display: block;
	top: 0;
	opacity: 1;
	left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	text-align: center;
}

.btnMore a span:nth-of-type(2), 
.btnMore a span:nth-of-type(3),
.btnMoreTwo a span:nth-of-type(2), 
.btnMoreTwo a span:nth-of-type(3) {
	-webkit-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	background: #c51857;
	clip: rect(0, 70px, 9999px, 0);
	color: #fff;
}

.btnMoreTwo a span:nth-of-type(2), 
.btnMoreTwo a span:nth-of-type(3) {
	clip: rect(0, 80px, 9999px, 0);
}

.btnMore a span:nth-of-type(3),
.btnMoreTwo a span:nth-of-type(3) { 
	transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	clip: rect(0, 9999px, 9999px, 70px);
}

.btnMoreTwo a span:nth-of-type(3) { 
	clip: rect(0, 9999px, 9999px, 80px);
}

.btnMore a:hover span:nth-of-type(2), 
.btnMore a:hover span:nth-of-type(3),
.btnMoreTwo a:hover span:nth-of-type(2), 
.btnMoreTwo a:hover span:nth-of-type(3) {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	background: #c51857;
}

.btnMore a:hover span:nth-of-type(2), 
.btnMore a:hover span:nth-of-type(3),
.btnMoreTwo a:hover span:nth-of-type(2), 
.btnMoreTwo a:hover span:nth-of-type(3) {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	background: #c51857;
}
.btnMore a span:last-of-type,
.btnMoreTwo a span:last-of-type {
	opacity: 0;
	background: #c51857;
	-webkit-transition: none;
	transition: none;
	color: #fff;
}

.btnMore a:hover span:last-of-type,
.btnMoreTwo a:hover span:last-of-type {
	opacity: 1;
	-webkit-transition: all 0.05s linear 0.3s;
	transition: all 0.05s linear 0.3s;
}
*/



/* 面包屑导航
--------------------------------------------------------------------------------------------*/
.breadcrumbs,
.bcTwo {
	height: 34px;
	line-height: 34px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 30px;
	color: #0e0e0e;
}
.bcTwo {
	border-top: 5px solid #c51857;
	margin-bottom: 0;
}
.breadcrumbs p {
	float: left;
}
.breadcrumbs p b {
	font-size: 14px;
	font-weight: normal;
	display: inline-block;
	margin-right: 10px;
}
.breadcrumbs p em,
.breadcrumbs p em i {
	font-style: normal;
}
.breadcrumbs p em i {
	font-size: 14px;
}
.breadcrumbs a,
.bcTwo a {
	color: #0e0e0e;
}
.breadcrumbs a.curPosi {
	color: #666;
}
.breadcrumbs a.curPosi i {
	font-style: normal;
}
.breadcrumbs a:hover,
.bcTwo a:hover {
	color: #c51857;
}
.current,
.bdArrow {
	display: inline-block;
	width: 14px;
	height: 15px;
	background: url(../images/ico_list.png) no-repeat 0 0;
}
.bdArrow {
	background-position: -12px 2px;
}
.breadcrumbs p.kw {
	float: right;
	color: #666;
}
.keyWords {
	color: #0e0e0e;
}
.resultNur {
	color: #c51857;
}


/* 分页控件样式
--------------------------------------------------------------------------------------------*/
.pageCtrl {
	text-align: center;
	font-size: 14px;
}
.pageCtrl li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 2px;
}
.pageCtrl a {
	height: 38px;
	line-height: 38px;
	padding: 0 15px;
	border: 1px solid #e2e2e2;
	color: #666;
	display: inline-block;
}
.pageCtrl a:hover,
.pageCtrl li.pageCtrlAvtive a {
	color: #fff;
	background-color: #c51857;
	border-color: #c51857;
}


/* 侧边栏模块
--------------------------------------------------------------------------------------------*/
.mYl {
	padding: 5px;
}
.mYl li {
	line-height: 2.8;
	overflow: hidden;
    text-overflow:ellipsis; 
    white-space:nowrap;
}
.mYl li span {
	font-size: 12px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #000;
    background-color: #f7f7f7;
	margin-right: 10px;
}
.mYl li:nth-child(1) span, 
.mYl li:nth-child(2) span, 
.mYl li:nth-child(3) span {
    color: #fff;
    background-color: #c51857;
}
.mYl li a {
	color: #0e0e0e;
}

.mYl li a:hover {
	color: #c51857;
}
.hotTab a {
	font-size: 12px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #000;
    background-color: #f8f8f8;
	margin: 10px 6px 0 0;
	padding: 0 10px;
}
.hotTab a:hover {
	color: #fff;
	background-color: #c51857;
}
.curPageTab li {
	border-bottom: 1px dotted #e2e2e2;
}
.curPageTab li:last-child {
	border-bottom: 0;
}
.curPageTab li a {
	display: inline-block;
	color: #666;
	width: 72%;
	padding-left: 28%;
	line-height: 40px;
	height: 40px;
}
.curPageTab li a span {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../images/ico_mix.png) no-repeat -318px -3px;
}
.curPageTab li a:hover,
.curPageTab li a.curPageTabActive {
	color: #c51857;
}
.curPageTab li a:hover span,
.curPageTab li a.curPageTabActive span {
	background-position: -331px -3px;
}
.sideBarL .hotTab {
	padding: 0 15px 20px;
}


/* 左侧边栏模块
--------------------------------------------------------------------------------------------*/
.sideBarL {
	border: 1px solid #e2e2e2;
	border-top: 2px solid #c51857;
	margin-bottom: 30px;
}
.sidebarLmtOne {
	height: 40px;
	line-height: 40px;
	text-indent: 70px;
	font-size: 16px;
	font-weight: 400;
	color: #0e0e0e;
	border-bottom: 1px solid #e2e2e2;
}
.topGreen {
	border-top: 2px solid #19b2a3;
}
.topYello {
	border-top: 2px solid #eec24d;
}
.sidebarLmtTwo {
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	font-size: 16px;
	font-weight: 400;
	color: #0e0e0e;
	border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
}


/* 右侧边栏模块
--------------------------------------------------------------------------------------------*/
.sideBarR {
	padding: 10px 0;
}
.sidebarRmt {
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
	border-bottom: 2px solid #c51857;
	margin-bottom: 10px;
} 


/* 我也要做专访
--------------------------------------------------------------------------------------------*/
.miToo {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	text-indent: 0;
	line-height: 40px;
	padding: 0 15px 0 45px;
	background: #c51857 url(../images/bgArt.png) no-repeat -232px -82px;
}
.miToo:hover {
	background-color: #b30715;
}


/* 排序标签切换
--------------------------------------------------------------------------------------------*/
.newHot {
	height: 38px;
	line-height: 38px;
	border: 1px solid #e2e2e2;
	margin-bottom: 30px;
}
.newHot p {
	float: right;
	margin-right: 10px;
}
.newHot p a {
	color: #666;
}
.newHot p a:hover {
	color: #c51857;
}
.newHotTab li {
	float: left;
	width: 120px;
	text-align: center;
	font-size: 14px;
}
.newHotTab li.newTab {
	border-right: 1px solid #e2e2e2;
}
.newHotTab li a {
	display: inline-block;
	width: 120px;
	color: #686868;
}
.newHotTab li a.newHotTabActive {
	color: #c51857;
	border-top: 2px solid #c51857;
	border-right: 1px solid #e2e2e2;
	margin-top: -1px;
	height: 36px;
	line-height: 36px;
}
.pageNum {
	border-left: 1px solid #e2e2e2;
	float: right;
	text-align: center;
	padding: 0 15px;
}
.pagePrev,
.pageNext {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/ico_list.png) no-repeat -24px 1px;
}
.pageNext {
	background-position: -35px 1px;
}
.pageNum em {
	font-style: normal;
}
.curPage {
	font-weight: bold;
	color: #666;
}
.newHotTab li a span {
	display: inline-block;
	width: 7px;
	height: 9px;
	background: url(../images/ico_arrow_red.png) no-repeat -7px 0;
	margin-left: 10px;
}
.newHotTab li a.newHotTabActive span {
	background-position: 0 0;
}
.busNur {
	font-style: normal;
	color: #c51857;
	display: inline-block;
	margin: 0 5px;
}


/* 表单弹出层
--------------------------------------------------------------------------------------------*/
.tanFormBox {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../images/bg_shadow.png);
	display: none;
}
.tanForm {
	position: fixed;
	width: 503px;
	left: 50%;
	margin: -260px 0 0 -251px;
	top: 50%;
	background-color: #fff;
	padding-bottom: 20px;
	font-size: 14px;
}
.tanForm img {
	width: 503px;
}
.ico_form_close {
	display: inline-block;
	width: 38px;
	height: 38px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(../images/ico_form_close.png) no-repeat 0 0;
	cursor: pointer;
}
.form-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.form-select-down {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 40px;
	background-color: #eee;
}
.tanForm h2 {
	font-size: 24px;
	font-weight: 400;
	color: #000;
	padding: 25px 0;
	text-align: center;
}
.tanFromTxt {
	padding: 0 50px;
}
.tanFromTxt li {
	margin-bottom: 15px;
}
.tanFromTxt input[type="text"] {
	height: 43px;
	line-height: 43px;
	border: 1px solid #e0e0e0;
	outline: none;
	text-indent: 10px;
	font-family: Microsoft YaHei;
	width: 100%;
}
.type_drop_down {
	height: 43px;
	line-height: 43px;
	border: 1px solid #e0e0e0;
	text-indent: 10px;
	width: 100%;
	position: relative;
	cursor: pointer;
}
.type_drop_down i {
	position: absolute;
	top: 17px;
	left: 15px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #c60f4f;
}
.type_drop_down li ul {
	position: absolute;
	top: 43px;
	left: -1px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	display: none;
}
.type_drop_down li ul li {
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	margin-bottom: 0;
}
.type_drop_down li ul li:hover {
	background-color: #f4f4f4;
}
.readyed {
	font-size: 12px;
	cursor: pointer;
}
.readyed input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
}
.readyed a {
	color: #c51857;
}
.tanFromTxt li b {
	font-weight: 400;
	color: #000;
}
.tanFromTxt input[type="button"] {
	height: 43px;
	border: 0;
	outline: none;
	font-family: Microsoft YaHei;
	width: 100%;
	background-color: #c51857;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}
.tanFromTxt input[type="button"]:hover {
	background-color: #b31523;
}
.caveat {
	font-size: 12px;
	text-align: center;
}


/* 右侧浮动
--------------------------------------------------------------------------------------------*/
.float_right {
	position: fixed;
	top: -300px;
	right: 50px;
	z-index: 99;
	transition: all 1s ease 0s;
	width: 248px;
}
.float_right ul {
	width: 184px;
	border: 2px solid #c51857;
	margin: -22px 0 0 30px;
}
.caifangBg {
	/*
	background: url(../images/common/caifang_bg.png) repeat-y 0 0;
	*/
}
.caifangFooter {
	margin-top: -6px;
}
.float_right li {
	width: 184px;
	min-height: 50px;
	border-bottom: 1px solid #c51857;
	background: #fff url(../images/float_right_arrow1.png) no-repeat 150px 17px;
	font-size: 12px;
	color: #666;
	cursor: pointer;
}
.float_right li:nth-child(3) {
	border-bottom: 0;
}
.float_right li:hover,
.float_right li.float_right_li_active {
	background-color: #c51857;
	border-color: #c51857;
	background-image: url(../images/float_right_arrow2.png);
	color: #fff;
}
.float_right li i {
	display: inline-block;
	width: 34px;
	height: 34px;
	background: url(../images/common/ico_float.png) no-repeat;
	margin: 8px 6px 3px 20px;
	float: left;
}
.float_right li i.ico_service {
	background-position: -66px -5px;
}
.float_right li:hover i.ico_service,
.float_right li.float_right_li_active i.ico_service {
	background-position: -11px -5px;
}
.float_right li i.ico_attention {
	background-position: -176px -5px;
}
.float_right li:hover i.ico_attention,
.float_right li.float_right_li_active i.ico_attention {
	background-position: -123px -5px;
}
.float_right li i.ico_release {
	background-position: -289px -5px;
}
.float_right li:hover i.ico_release,
.float_right li.float_right_li_active i.ico_release {
	background-position: -232px -5px;
}
.float_right li p {
	font-size: 16px;
	float: left;
	margin-top: 18px;
}
.float_right li div {
	display: none;
}
.service,
.atten,
.release {
	background-color: #fff;
	margin-top: 5px;
}
.service,
.atten {
	padding: 0 10px;
}
.float_right li .service p {
	height: 46px;
	line-height: 46px;
	border-bottom: 1px solid #e2e2e2;
	color: #666;
	font-size: 12px;
	text-align: left;
	float: none;
	margin: 0;
}
.float_right li .service p:last-child {
	border-bottom: 0;
}
.service p:hover {
	color: #666;
}
.service p a {
	color: #666;
}
.service p a:hover {
	color: #c51857;
}
.service p em {
	display: inline-block;
	width: 30px;
	height: 35px;
	vertical-align: middle;
	background: url(../images/common/ico_float.png) no-repeat;
}
.service p em {
	display: inline-block;
	width: 30px;
	height: 35px;
	vertical-align: middle;
	background: url(../images/common/ico_float.png) no-repeat;
	margin: 0 8px 0 10px;
}
.service p em.ico_qq_online {
	background-position: -475px -5px;
}
.service p em.ico_qq_outline {
	background-position: -530px -5px;
}
.service p em.ico_phone {
	background-position: -595px -5px;
}
.service p em.ico_fax {
	background-position: -656px -5px;
}
.hot_line {
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	background-color: #c51857;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.hot_line b {
	font-size: 14px;
	font-style: italic;
}
.float_right li .atten p {
	border-bottom: 1px solid #e2e2e2;
	text-align: center;
	line-height: 1.6;
	color: #666;
	padding: 10px 0 7px;
	float: none;
	margin: 0;
	font-size: 12px;
}
.atten p:last-child {
	border-bottom: 0;
}
.atten p:hover {
	color: #666;
}
.atten img {
	width: 98px;
	height: 97px;
}
.atten span {
	display: inline-block;
}
.release {
	position: relative;
}
.release .hot_line {
	top: 0;
}
.release:hover {
	color: #666;
}
.release form {
	padding: 0 15px 0;
}
.release form h3 {
	font-size: 18px;
	color: #000;
	font-weight: 400;
	line-height: 2.5;
}
.release form input[type="text"] {
	height: 28px;
	line-height: 28px;
	width: 100%;
	border: 1px solid #e2e2e2;
	outline: none;
	text-indent: 10px;
	margin-bottom: 10px;
}
.decor_style {
	height: 28px;
	line-height: 28px;
	width: 100%;
	border: 1px solid #e2e2e2;
	text-indent: 10px;
	margin-bottom: 15px;
	text-align: left;
	color: #999;
	position: relative;
	cursor: pointer;
	z-index: 999;
}
.decor_style span {
	display: inline-block;
	width: 110px;
	float: left;
}
.decor_style b {
	display: inline-block;
	float: right;
	width: 25px;
	height: 28px;
	background: #fafafa url(../images/common/ico_arrow_black.png) no-repeat center center;
	border-left: 1px solid #e2e2e2;
}
.decor_style:hover b {
	background-color: #f1f1f1;
}
.decor_style:hover dl p {
	color: #999;
}
.decor_style dl {
	position: absolute;
	left: -1px;
	top: 28px;
	border: 1px solid #e2e2e2;
	background-color: #fff;
	width: 100%;
	display: none;
	z-index: 999;
}
.float_right li .decor_style dl p {
	font-left: none;
	margin: 0;
	font-size: 14px;
	width: 100%;
}
.decor_style dl p:hover {
	background-color: #fafafa;
	color: #000;
}
.release form small {
	display: inline-block;
	text-align: left;
	line-height: 1.4;
	margin: -4px 0 10px;
	color: #666;
	font-size: 12px;
}
.release input[type="button"] {
	width: 100%;
	height: 34px;
	line-height: 30px;
	font-size: 14px;
	color: #333;
	border: 1px solid #e2e2e2;;
	outline: none;
	background-color: #fafafa;
	cursor: pointer;
	margin-bottom: 10px;
}
.release input[type="button"]:hover {
	background-color: #f3f3f3;
}
.toTop {
	display: none;
	width: 184px;
	height: 50px;
	font-size: 12px;
	color: #666;
	cursor: pointer;
	background-color: #c51857;
	border-color: #c51857;
	color: #fff;
}
.toTop:hover {
	background-color: #b30817;
}
.toTop p {
	font-size: 16px;
	float: left;
	margin-top: 18px;
}
.toTop i.ico_top {
	display: inline-block;
	width: 34px;
	height: 34px;
	background: url(../images/ico_top_arrow.png) no-repeat center center;
	margin: 8px 6px 3px 20px;
	float: left;
}


/* 底部固定
--------------------------------------------------------------------------------------------*/
.float_footer_sup {
	width: 335px;
	height: 120px;
	background: url(../images/common/float_footer_sup_sup_2.png) no-repeat 0 0;
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	cursor: pointer;
}
.people {
	position: absolute;
	top: -79px;
	left: 0;
}
.float_footer_sub {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 90px;
	padding: 15px;
	background: url(../images/bg_shadow.png);
	z-index: 999;
	left: -110%;
}
.float_footer_sub .content {
	position: relative;
}
.copywriter {
	margin-left: 80px;
}
.float_footer_sub .people {
	top: -79px;
	left: -85px;
}
.float_footer_sub form {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 520px;
	vertical-align: top;
	margin: 10px 0 0 20px;
}
.float_footer_sub form input[type="text"] {
	width: 230px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #3e3e3e;
	background-color: #fff;
	outline: none;
	text-indent: 10px;
	color: #333;
	margin-bottom: 12px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin-right: 15px;
	font-family: Microsoft YaHei;
}
.decor_style_sub {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 228px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #3e3e3e;
	background-color: #fff;
	text-indent: 10px;
	color: #999;
	font-size: 14px;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	margin-top: -11px;
}
.decor_style_sub span {
	display: inline-block;
	width: 180px;
	height: 30px;
	line-height: 30px;
	float: left;
}
.decor_style_sub i {
	display: inline-block;
	width: 30px;
	height: 30px;
	float: right;
	background: #fcfcfc url(../images/common/ico_arrow.png) no-repeat -41px center;
}
.decor_style_sub:hover i {
	background-color: #f4f4f4;
}
.decor_style_sub ul {
	border: 1px solid #3e3e3e;
	background-color: #fff;
	position: absolute;
	bottom: 30px;
	width: 100%;
	left: -1px;
	display: none;
}
.decor_style_sub:hover ul {
	display: block;
}
.decor_style_sub ul li:hover {
	background-color: #f7f7f7;
	color: #333;
}
.float_footer_sub form input[type="button"] {
	width: 230px;
	height: 32px;
	border: 1px solid #c51857;
	background-color: #c51857;
	outline: none;
	color: #fff;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-top: -2px;
	cursor: pointer;
	font-family: Microsoft YaHei;
}
.float_footer_sub form input[type="button"]:hover {
	background-color: #b30817;
}
.code {
	width: 150px;
	color: #fff;
	line-height: 2;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-top: -60px;
	text-align: center;
}
.code img {
	box-shadow: 0px -2px 2px rgba(0,0,0,.2);
	width: 112px;
	height: 112px;
}
.close {
	position: absolute;
	top: 30px;
	right: 0;
	width: 36px;
	height: 36px;
	background: url(../images/common/ico_close.png) no-repeat center center;
	cursor: pointer;
}


/* 警示框
--------------------------------------------------------------------------------------------*/
.warning_box,
.operation {
	width: 466px;
	height: 226px;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -130px 0 0 -265px;
	z-index: 9999999;
	text-align: center;
	display: none;
	border-radius:10px;
	background: url(../images/warning_box_bg.png) no-repeat;
	background-size:100% 100%;
}
.warning_box h2,
.operation h2 {
	border-radius:9px 10px 0 0;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #c51857;
}
.warning_box h2 span,
.operation h2 span {
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	float: left;
	margin-left: 10px;
}
.ico_warnning_close {
	display: inline-block;
	width: 36px;
	height: 30px;
	float: right;
	background: url(../images/common/warnning_close.png) no-repeat center center;
	cursor: pointer;
}
.ico_warnning_close:hover {
	background-color: #b30917;
	border-radius:0px 10px 0px 0px;
}
.warn_text {
	font-size: 16px;
	color: #666;
	padding: 0 10px;
	margin-top: 70px;
}
.warn_btn {
	margin-top: 56px;
}
.warn_btn input[type="button"] {
	border-radius:54px;
	outline: none;
	border: 0;
	width: 142px;
	height: 27px;
	color: #fff;
	font-size: 16px;
	margin: 0 15px;
	cursor: pointer;
}
.warn_btn input[type="button"].warn_btn_yes {
	background-color: #c51857;
}
.warn_btn input[type="button"].warn_btn_yes:hover {
	background-color: #b30917;
}
.warn_btn input[type="button"].warn_btn_no {
	background-color: #616161;
}
.warn_btn input[type="button"].warn_btn_no:hover {
	background-color: #404040;
}
.operation_text {
	font-size: 18px;
	color: #000;
	font-weight: 400;
	margin-top: 70px;
}
.operation_text i {
	display: inline-block;
	width: 30px;
	height: 35px;
	background: url(../images/user/ico_user.png) no-repeat;
	vertical-align: middle;
	margin-right: 10px;
}
.operation_text .ico_success i {
	background-position: -245px -207px;
}
.operation_text .ico_failure i {
	background-position: -302px -207px;
}


/* 500万气泡
--------------------------------------------------------------------------------------------*/
.ico_bubble {
	display: inline-block;
	width: 47px;
	height: 28px;
	background: url(../images/ico_bubble.png) no-repeat 0 0;
	color: #fff;
	position: absolute;
	line-height: 20px;
	text-align: center;
	font-style: normal;
}
.navMainOne li .navMainTwo li a:hover .ico_bubble {
	background-position: -47px 0;
	color: #c51857;
}

/***********通用组件 结束*****************************************************************************************************************/




/***********无数据 开始*****************************************************************************************************************/
.no_data {
	height: 450px;
	background: url(../images/pic_no_data.png) no-repeat center center;
}

/***********无数据 结束*****************************************************************************************************************/


/***********验证  开始*****************************************************************************************************************/
.validateBox {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
}
.validateBoxRight {
	width: 100%;
}
.inforUpdate .validateBox label.error,
.inforUpdate label.error  {
	margin: 10px 0 0 0;
	color: rgb(255, 0, 0);
	width: 180px;
}
.inforUpdate .validateBoxRight label.error  {
	position: absolute;
	left: 610px;
	top: -8px;
}
.validateBoxRightTwo,
.validateBoxRightTwo1  {
	position: relative;
}
.validateBoxRightTwo label.error,
.validateBoxRightTwo1 label.error  {
	position: absolute;
	right: -190px;
	top: 15px;
	margin: 0;
	line-height: 1;
	z-index: 10;
}
.validateBoxRightTwoOther label.error {
	right: -320px;
}
.validateBoxRightTwo .validateBox label.error  {
	left: 420px;
}
.validateBoxRightTwo1 .validateBox label.error  {
	left: 226px;
	margin-top: 0;
}
.validateBox .date input[type="text"] {
	display: block;
}
.validateBox .date label.error {
	font-style: normal;
}

/***********验证  结束*****************************************************************************************************************/

/***********loading  结束*****************************************************************************************************************/
.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../images/loading154.gif) no-repeat center center;
	z-index: 999999;
	background-color: rgba(256,256,256,.5);
}
/***********loading  结束*****************************************************************************************************************/



