::-webkit-input-placeholder{
  color: #fff;
  line-height: 1rem;
}
.generalize{
  background: -webkit-linear-gradient(#109ce2 2%, #11dae2 20%,#08dbd3);
  background: -o-linear-gradient(#109ce2 2%, #11dae2 20%,#08dbd3);
  background: -moz-linear-gradient(#109ce2 2%, #11dae2 20%,#08dbd3);
  background: linear-gradient(#109ce2 2%, #11dae2 20%,#08dbd3);
  overflow: hidden;
}
.generalize .banner{
  background: url("../images/index.png") center top no-repeat;
  background-size: 100%;
  height:11rem;
  margin-top:1rem;
}
.generalize .registerForm{
  margin:2rem;
}
.generalize .registerForm .item{
  position: relative;
}
.generalize .registerForm .tip{
  height:1.25rem;
  line-height:1.25rem;
  color: #333;
  font-size:0.65rem;
  text-indent: 1rem;
}
.generalize .registerForm .item .form-input{
  height:.75rem;
  line-height: 0.75rem;
  border-radius: 1.25rem;
  background: #00c4c4;
  border: 0;
  width: 86%;
  padding:0.875rem 1rem;
  font-size:0.75rem;
  -webkit-appearance: none;
  -moz-box-shadow:5px 5px 5px #00bbbb inset;
  -webkit-box-shadow:5px 5px 5px #00bbbb inset;
  box-shadow:5px 5px 5px #00bbbb inset;
  color: #fff;
}
.generalize .registerForm .item .form-code{
  width: 4.75rem;
  height:2.5rem;
  text-align: center;
  border-radius:0 1.25rem 1.25rem 0;
  background: -webkit-linear-gradient(#009fe8, #008aca);
  background: -o-linear-gradient(#009fe8, #008aca);
  background: -moz-linear-gradient(#009fe8, #008aca);
  background: linear-gradient(#009fe8, #008aca);
  color: #fff;
  border: none;
  position: absolute;
  right: 0;
  top:0;
  font-size:0.65rem;
}
.generalize .registerForm .item .form-submit{
  height:2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 1.25rem;
  background: #00c4c4;
  border: 0;
  width: 100%;
  color: #fff;
  font-size:0.85rem;
  font-weight: bold;
  background-image: -moz-linear-gradient( 90deg, rgb(243,163,25) 1%, rgb(239,231,17) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(243,163,25) 1%, rgb(239,231,17) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(243,163,25) 1%, rgb(239,231,17) 100%);
}
.generalize .intro{
  margin:1rem 1rem 3rem;
}
.generalize .intro .title{
  text-align: center;
  color: #fff;
  font-size:0.85rem;
  font-weight: bold;
  position: relative;
}
.generalize .intro .title:before{
  content: '';
  display: block;
  height:.5px;
  background: #9af3f1;
  position: absolute;
  left:0;
  top:0.65rem;
  width:5rem;
}
.generalize .intro .title:after{
  content: '';
  display: block;
  height:.5px;
  background: #9af3f1;
  position: absolute;
  right:0;
  top:0.65rem;
  width:5rem;
}
.generalize .intro .cont{
  padding:1.5rem 0;
  background: url("../images/cont_dot.png") center 0.5rem no-repeat #4ceae5;
  border-radius: 0.25rem;
  margin-top:.5rem;
  background-size: 60%;
  border-bottom:5px solid #07cbc4;
}
.generalize .intro .cont .item{
  width: 50%;
  text-align: center;
  color: #fff;
}
.generalize .intro .cont .item:nth-of-type(1),.generalize .intro .cont .item:nth-of-type(2){
  margin-bottom: 1rem;
}
.generalize .intro .cont .item .icon{
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}
.generalize .intro .cont .item .icon1{
  background: url("../images/icon1.png") center center no-repeat;
  background-size: 100%;
}
.generalize .intro .cont .item .icon2{
  background: url("../images/icon2.png") center center no-repeat;
  background-size: 100%;
}
.generalize .intro .cont .item .icon3{
  background: url("../images/icon3.png") center center no-repeat;
  background-size: 100%;
}
.generalize .intro .cont .item .icon4{
  background: url("../images/icon4.png") center center no-repeat;
  background-size: 100%;
}
.generalize .intro .cont .item p:nth-of-type(1){
  font-size:0.85rem;
  line-height: 2;
}
.generalize .intro .cont .item p:nth-of-type(2){
  font-size: 0.75rem;
  line-height: 1.5;
}
.generalize .download{
  position: fixed;
  bottom:0;
  width:100%;
  height:2.5rem;
  line-height: 2.5rem;
  color: #fff;
  font-size:0.85rem;
  text-indent: .5rem;
  background: #fde233;
}
.generalize .download a{
  text-indent: 1rem;
  display: block;
  width:5rem;
  height:1.5rem;
  top:0.5rem;
  border: 1px solid #fff;
  border-radius: .75rem;
  position: absolute;
  line-height: 1.5rem;
  color: #fff;
  right:.5rem;
}
#error_tip {
  position: fixed;
  top: 6rem;
  left: 50%;
  margin-left: -6.5rem;
  width: 13rem;
  min-height: 1.7rem;
  line-height: 1.7rem;
  font-weight: normal !important;
  background: #555;
  text-align: center;
  color: #fff;
  opacity: 0;
  box-shadow: 0 0 1px 3px #555;
  display: none;
  word-wrap: break-word;
  z-index: 9999999;
  font-size:0.75rem;
}
.shadow{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
.dialog{
  width:15rem;
  height:15rem;
  position:fixed;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  background: url("../images/dialogbg.png") no-repeat;
  background-size: 100%;
  display: none;
}
.dialog .close{
  position: absolute;
  width:1.25rem;
  height:1.25rem;
  background: url("../images/close.png") no-repeat;
  background-size: 100%;
  right:-0.5rem;
  top:-0.5rem;
}
.dialog .cont{
  position:absolute;
  bottom:0;
  width:100%;
  background: #fff;
  height:6rem;
  text-align: center;
  color: #333;
  line-height: 1.5;
  font-size:0.85rem;
  padding-top:1.5rem;
}
.dialog .cont .dld{
  display: block;
  margin: 1rem auto 0;
  height:2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 1rem;
  background: #00c4c4;
  border: 0;
  width: 13rem;
  color: #fff;
  font-size:0.85rem;
  font-weight: bold;
  background-image: -moz-linear-gradient( 90deg, rgb(243,163,25) 1%, rgb(239,231,17) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(243,163,25) 1%, rgb(239,231,17) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(243,163,25) 1%, rgb(239,231,17) 100%);
}
.generalize .link{
  background: url(../images/safari.png) no-repeat;
  background-size: 100%;
  background-color: rgba(250,250,250,0.7);
  height:100%;
  width:100%;
  position:fixed;
  top: 0;
  display: none;
  z-index: 10;
}